@import "../../colors";

.shopping-coffee{
    margin-top: 60px;
    .title{
        font: {
            size: 32px;
            weight: 800;
        }
        
    }
    .coffee-items{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        margin-top: 40px;
        column-gap: 40px;
        row-gap: 50px;
    }
}