@import "../../colors";

.payment-type-card{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E6E5E5;
    padding: 16px 19px;
    gap: 10px;
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid #E6E5E5;
    transition: .1s linear;
    &:hover{
        border-color: $purple;
    }
    h1{
        color: #574F4D;
        text-transform: uppercase;
        font: {
            size: 12px;
            weight: 400;
        }
    }
}