$yellowLight: #F1E9C9;
$black: #251D1B;
$orange: #C47F17;
$purple: #8047F8;
$purpleLight: #EBE5F9;
$background: #FAFAFA;
$gray: #F3F2F2;

$iconBlack: #564f4d;
$iconYellow : #DBAC2C;
$paragraphColor: #403937;